@main("Home") {

<h1>Hello</h1>
<p>This sample app serves as both a test and to show usage.</p>

<p>You can run the tests and see the ways of using this module by accessing the pages below:</p>
<ul>
  <li><a href="@action(controllers.Application.inline)">Inlined coffee script</a></li>
  <li><a href="@action(controllers.Application.include)">Included coffee script</a></li>
</ul>

<p>The plugin provides helpful error messages when you make a mistake.</p>
<ul>
  <li><a href="@action(controllers.Application.includeError)">Error in included coffee</a></li>
  <li><a href="@action(controllers.Application.inlineError)">Error in inlined coffee</a></li>
</ul>

}
